body{
    background-image: url('image.jpg');
    font-family:'Segoe UI', Roboto, Oxygen;
background-color:ghostwhite;
background-size: cover;
text-align: center;
font-weight: bold;


}
.container{
   
background-color: white;
max-width: 80%;
margin: auto;
border:1px solid black;
border-radius: 10px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    font-size: 40px;
  
}

h2{
    font-size: 33px;
}
button{
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 25px;
   
    font-size: 25px;
    color:white;
}

#increment-btn{
    background-color:cornflowerblue;
}

#save-btn{
    background-color:orange;
}

#save-el{
    margin-top: 45px;
    font-size: 25px;
    font-style: italic;
}